/* implement layout for content of the page */
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}
/* apply fonts and font colours */
h2, h3, .about-content{
	font-family: var(--main-font);
	color: var(--text-colour);
}
/* layout adjustments */
.about-content {
	margin-bottom: 10px;
	width: 90%;
}
/* styling to this specific div to keep the text and picture together */
#about-me {
	display: flex;
	flex-direction: column;
	align-items: center;
}
/* simple stlying for headers */
.about-content h3 {
	text-align: center;
	margin: 2px 0px;
}
/* layout adjustment for text content */
.about-content p {
	margin: 2px 5px;
	padding: 20px;
}
/* sizing for the image */
.about-content img {
	width: 60dvw;
	border-radius: 5%;
}
/* adjustments to layout for different screen sizes */
@media screen and (width > 600px) {
	.about-content {
		width: 70%;
	}
	
	.about-content img {
		width: 50%;
	}
}