main {
	display: flex;
	flex-direction: column;
}

h2, h3, .blog-post {
	color: var(--text-colour);
	font-family: var(--second-font);
}

.blog-post {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
}

img {
	width: 80dvw;
	border-radius: 5%;
}

@media screen and (width > 600px) {
	.blog-post {
		width: 70%;
	}

	.blog-post img {
		width: 50%;
	}
}