:root {
	--main-colour: white;
	--second-colour: black;
	--main-font: Montserrat;
}

header {
	color: var(--main-colour);
	background-color: var(--second-colour);
	padding: 3vh;
}

body {
	margin: 0;
	background-color: var(--second-colour);
	font-family: var(--main-font);
}

h1 {
	text-align: center;
}

nav {
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

nav a {
	text-decoration: none;
	background-color: var(--main-colour);
	border-radius: 5%;
	padding: 1.5vw;
	width: 18vw;
	text-align: center;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.intro-text {
	color: var(--main-colour);
	margin-top: 3vh;
	border-radius: 5%;
	text-align: center;
}

.intro-text p {
	margin: 3vw;
}

.home-links {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--main-colour);
	margin: 3vw;
	border-radius: 5%;
	width: 60vw;
	height: 30vh;
}

.home-links img {
	width: 50vw;
	border-radius: 5%;
}

.home-links h3 {
	font-size: 20px;
	margin: 2px;
	color: var(--second-colour)
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
}