:root {
	--main-colour: white;
	--second-colour: black;
	--main-font: 'Roboto', 'sans serif';
	--second-font: 'Open sans', 'sans serif';
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.intro-text {
	color: var(--main-colour);
	margin-top: 3dvh;
	border-radius: 5%;
	text-align: center;
	font-family: var(--second-font);
}

.intro-text p {
	margin: 3dvw;
}

.home-links {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--main-colour);
	margin: 3dvw;
	border-radius: 5%;
	width: 60dvw;
	height: 30dvh;
}

.home-links img {
	width: 50dvw;
	height: 22.5dvh;
	border-radius: 5%;
}

.home-links h3 {
	font-size: 20px;
	margin: 2px;
	color: var(--second-colour)
}

@media screen and (width > 600px) {
	main {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}

	.intro-text {
		width: 100%;
	}

	.home-links {
		width: 28dvw;
		height: 25dvh;
		margin: 1dvw;
	}

	.home-links img {
		width: 25dvw;
		height: 20dvh;
	}
}