:root {
	--main-colour: white;
	--second-colour: black;
	--main-font: 'Roboto', 'sans serif';
	--second-font: 'Open sans', 'sans serif';
}

header {
	color: var(--main-colour);
	background-color: var(--second-colour);
}

body {
	margin: 0;
	background-color: var(--second-colour);
}

h1 {
	text-align: center;
	font-family: var(--main-font);
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-family: var(--main-font);
}

nav a {
	text-decoration: none;
	background-color: var(--main-colour);
	border-radius: 5%;
	padding: 1.5vw;
	width: 18dvw;
	text-align: center;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.intro-text {
	color: var(--main-colour);
	margin-top: 3dvh;
	border-radius: 5%;
	text-align: center;
	font-family: var(--second-font);
}

.intro-text p {
	margin: 3dvw;
}

.home-links {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--main-colour);
	margin: 3dvw;
	border-radius: 5%;
	width: 60dvw;
	height: 30dvh;
}

.home-links img {
	width: 50dvw;
	height: 22.5dvh;
	border-radius: 5%;
}

.home-links h3 {
	font-size: 20px;
	margin: 2px;
	color: var(--second-colour)
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--main-colour);
}