:root {
	--main-colour: white;
	--second-colour: black;
	--background-colour: #547AA5;
	--border-colour: #A7C6DA;
	--main-font: 'Roboto', 'sans serif';
	--second-font: 'Open sans', 'sans serif';
}

header {
	color: var(--background-colour);
	background-color: var(--main-colour);
	width: 100%;
	margin-top: -20px;
	border-bottom: solid;
	border-color: var(--border-colour);
	border-width: 3px;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

body {
	margin: 0;
	background-color: var(--background-colour);
}

h1 {
	text-align: center;
	font-family: var(--main-font);
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-family: var(--main-font);
}

nav a {
	text-decoration: none;
	color: var(--background-colour);
	padding: 1.5vw;
	width: 18dvw;
	text-align: center;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--background-colour);
	background-color: var(--main-colour);
	position: absolute;
	width: 100%;
	border-top: solid;
	border-color: var(--border-colour);
	border-width: 3px;
}

@media screen and (width > 600px) {
	nav a {
		border-radius: 15%;
		width: 10dvw;
	}

	footer {
		flex-direction: row;
		justify-content: space-evenly;
		bottom: 0px;
	}
}