header {
	color: var(--main-colour);
	background-color: var(--second-colour);
}

body {
	margin: 0;
	background-color: var(--second-colour);
}

h1 {
	text-align: center;
	font-family: var(--main-font);
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-family: var(--main-font);
}

nav a {
	text-decoration: none;
	background-color: var(--main-colour);
	border-radius: 5%;
	padding: 1.5vw;
	width: 18dvw;
	text-align: center;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--main-colour);
}