h2, h3, .content{
	font-family: var(--main-font);
	color: var(--text-colour);
}

.content {
	background-color: var(--accent-colour);
	border-radius: 5%;
	margin: 2dvh 5dvw;
	padding: 5px 10px;
}

.content h4 {
	padding-left:15px;
}

.content a {
	text-align: center;
}

h3 {
	text-align: center;
}