h2, h3, .content{
	font-family: var(--main-font);
	color: var(--text-colour);
}

.content {
	width: 90%;
}

.content h4 {
	padding-left:15px;
}

.content a {
	text-align: center;
}

h3 {
	text-align: center;
}

@media screen and (width > 600px) {
	.content {
		width: 70%;
	}
}